<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-plugin-udid"
		version="1.0.0">
	
	<author>Oğuz Özcan</author>
	<name>Device</name>
	<description>Cordova UDID Plugin</description>
	<license>MIT</license>
	<keywords>cordova,device,udid,uuid,id</keywords>
	
	<repo>https://github.com/centrual/cordova-plugin-udid.git</repo>
	<issue>https://github.com/centrual/cordova-plugin-udid/issues</issue>
	
	<engines>
		<engine name="cordova-android" version=">=4.1.2" />
    </engines>
		
	<js-module src="www/udid.js" name="udid">
		<clobbers target="udid" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Udid">
				<param name="android-package" value="com.oguzozcan.udid.Udid"/>
			</feature>
		</config-file>

		<source-file src="src/android/Udid.java" target-dir="src/com/oguzozcan/udid" />
	</platform>
	
</plugin>
